body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
  }
 


  /*Cabeçalho*/
  header {
    background: linear-gradient(90deg, #232734 0%, rgba(35,39,52,1) 70%, rgba(255,255,255,1) 100%);
    color: #fff;
    padding: 20px;
    border-radius: 100px;
    }
  
  .logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    border-radius: 30px;
    width: 110px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  nav ul li button {
    border: 2px solid black;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #fff;
    color: #232734;
    cursor: pointer;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #232734;
  }
 

  .content-container {
	  width: 1500px;
	  height: 100%;
	  padding: 20px;
	  margin: auto;
  }


  /*ESG*/
  #esg{
    height: 600px;
  }
  
  #esg h1{
    font-size: 40px;
  }

  #esg .esg-container{
    display: flex; 
  }

  #esg img{
    float: right; /* Faz a imagem flutuar para a direita */
    margin-left: 50px; /* Adiciona um espaço entre a imagem e o texto */
  }
  
  #esg txt{
    text-align: left;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }


  /*CS*/
  #cs {
    height: 600px;
  }

  #cs .cs-container{
    display: flex; 
  }

  #cs h1{
    text-align: right;
    font-size: 40px;
  }

  #cs img{
    float: left;
    margin-right: 50px; /* Adiciona um espaço entre a imagem e o texto */
  }
  
  #cs txt{
    text-align: right;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }


/*Es-cidades*/
  #es-cidades{
    height: 300px;
  }

  #es-cidades h1{
    text-align: center;
  }

  #es-cidades txt{
    text-align: justify;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

/*Pilares*/

.pentagon-background {
  margin-left: 50px;
  width: 350px; /* largura desejada */
  height: 300px; /* altura desejada */
  background-color: #007bff; /* cor de fundo desejada */
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  z-index: -1;
}
  .pentagon {
    width: 350px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    position: relative;
    margin: auto;
    margin-bottom: auto;
    padding: auto;
  }
  
  .pentagon a {
    z-index: 1;
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    transform-origin: 50% 100%;
  }
  
  .pentagon a:nth-child(1) {
    top: -13%;
    left: 50%;
  }
  
  .pentagon a:nth-child(2) {
    top: 30%;
    left: 114%;
  }
  
  .pentagon a:nth-child(3) {
    top: 100%;
    left: 85%;
  }
  
  .pentagon a:nth-child(4) {
    top: 100%;
    left: 15%;
    margin-bottom: 20px;
  }
  
  .pentagon a:nth-child(5) {
    top: 30%;
    left: -14%;
    margin-bottom: 20px;
  }

  /*Ranking*/


  /*Quiz*/



  /*Rodapé*/
  footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  
