body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
  }
  
  header {
    background: linear-gradient(90deg, #232734 0%, rgba(35,39,52,1) 70%, rgba(255,255,255,1) 100%);
    color: #fff;
    padding: 20px;
    border-radius: 100px;
    }
  
  .logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    border-radius: 30px;
    width: 110px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  nav ul li button {
    border: 2px solid black;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #fff;
    color: #232734;
    cursor: pointer;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #232734;
  }
  
  section {
    padding: 20px;
  }

  #esg img {
    float: right; /* Faz a imagem flutuar para a direita */
    margin-left: 50px; /* Adiciona um espaço entre a imagem e o texto */
  }
  
  #esg div {
    overflow: hidden; /* Isso corrige o layout para envolver o conteúdo */
  }

  #sustentabilidade img {
    float: left; /* Faz a imagem flutuar para a esquerda */
    margin-right: 50px; /* Adiciona um espaço entre a imagem e o texto */
  }
  
  #sustentabilidade div {
    overflow: hidden; /* Isso corrige o layout para envolver o conteúdo */
  }

  #relacionamento img{
    float: right;
    margin-right: 50px;
  }

  #relacionamento div{
    overflow: hidden;
  }

/*adicionando aqui*/

.pentagon-background {
  margin-left: 50px;
  width: 350px; /* largura desejada */
  height: 300px; /* altura desejada */
  background-color: #007bff; /* cor de fundo desejada */
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  z-index: -1;
}
  .pentagon {
    width: 350px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    position: relative;
    margin: auto;
    margin-bottom: auto;
    padding: auto;
  }
  
  .pentagon a {
    z-index: 1;
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    transform-origin: 50% 100%;
  }
  
  .pentagon a:nth-child(1) {
    top: -13%;
    left: 50%;
  }
  
  .pentagon a:nth-child(2) {
    top: 30%;
    left: 114%;
  }
  
  .pentagon a:nth-child(3) {
    top: 100%;
    left: 85%;
  }
  
  .pentagon a:nth-child(4) {
    top: 100%;
    left: 15%;
    margin-bottom: 20px;
  }
  
  .pentagon a:nth-child(5) {
    top: 30%;
    left: -14%;
    margin-bottom: 20px;
  }
  .flashcards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    margin-top: 30px;
}
.flashcard {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.flashcard:hover {
    transform: rotateY(180deg);
}
.flashcard-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.flashcard-front, .flashcard-back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: absolute;
    color: #333;
}
.flashcard-back {
    transform: rotateY(180deg);
}

.question {
            text-align: center;
            margin-bottom: 20px;
        }
.options {
            display: flex;
            justify-content: center;
        }
.options button {
            margin-right: 10px;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
        }
.carousel {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }
.slide {
            display: inline-block;
            width: 100%;
            transition: transform 0.5s ease;
        }
.completion {
            text-align: center;
            margin-top: 50px;
        }


  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
  }
  
